@{
    ViewData["Title"] = "Início";
    <link rel="stylesheet" href="~/css/Inicio.css" asp-append-version="true" />
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a)!</h1>
    <p>Esse é o sistema gerencial do banco de dados do aplicativo ComuniQ. É restrito à aqueles que trabalham no projeto.</p>
</div>
