@{
    ViewData["Title"] = "Início";
    <link rel="stylesheet" href="~/css/Inicio.css" asp-append-version="true" />
}

<div class="caixatit">
    <h1 class="display-4">Bem Vindo(a)!</h1>
    <p class="txt">Esse é o sistema gerencial do banco de dados do aplicativo ComuniQ. É restrito à aqueles que trabalham no projeto.</p>
</div>
<div class="imgcaixa">
    <img class="imgHome" src="~/Img/ComuniQ3app.png" />
</div>
