@{
    ViewData["Title"] = "Política e Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Bem vindo(a)!</p>
<p>Este é o sistema gerencial do banco de dados do aplicativo ComuniQ. É dever de todos aqueles que tem acesso à essa funcionalidade manter o sigilo e a segurança de todos os dados que foram confiados para o app, seguindo as Leis gerais de Proteção de Dados (LGPD). </p>
<p>O vazamento de dados é inaceitável, para garantir a segurança e manter a confiabilidade do app.</p>
<p>Utilize esse sistema para alterar e gerenciar os dados cadastrados no banco de dados, lembrando que a alteração das informações somente ocorre se solicitado pelo cliente ou pelos responsáveis do projeto.</p>
