@model ComuniQBD.Models.TipoCampanha

@{
    ViewData["Title"] = "Details";
    <link rel="stylesheet" href="~/css/TipoCampanha.css" asp-append-version="true" />
}

<h1>Detalhes</h1>

<div>
    <h4>TipoCampanha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 detaiTipoCam">
            @Html.DisplayNameFor(model => model.TipoCampanhaNome)
        </dt>
        <dd class="col-sm-10 detaiTipoCam">
            @Html.DisplayFor(model => model.TipoCampanhaNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipoCampanhaId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
