@model ComuniQBD.Models.TipoDenuncia

@{
    ViewData["Title"] = "Details";
    <link rel="stylesheet" href="~/css/TipoDenuncia.css" asp-append-version="true" />
}

<h1>Detalhes</h1>

<div>
    <h4>TipoDenuncia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 detaiTipoDen">
            @Html.DisplayNameFor(model => model.TipoDenunciaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDenunciaNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipoDenunciaId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
