.table {
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white
}
.tabelinha {
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white
}
.tabelinha a{
    color: white;
    text-decoration: none
}

.editBairr {
    background-color: #20343F;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white
}

.deletBairr {
    background-color: #20343F;
    padding: 10px;
    
    text-align: center;
    color: white
}

.detaiBairr {
    background-color: #20343F;
    padding: 10px;
    
    text-align: center;
    color: white
}


.table-container {
    margin: 20px auto;
    max-height: 400px;
    border: 1px solid #ccc;
    overflow-y: auto;
    position: relative;
    color: #20343F;
    background-color: darkgrey;
    border-radius: 20px
}

    .table-container a {
        color: #20343F;
        text-decoration: none
    }

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: lightgrey;
    color: #20343F;
    position: sticky;
    top: 0;
}

th, td {
    padding: 10px;
    text-align: center;
    color: #20343F
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}

/* Scroll personalizado */
.table-container::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 6px;
}

    .table-container::-webkit-scrollbar-thumb:hover {
        background-color: lightgrey;
    }

.btnnew {
    background-color: #20343F;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    border-color: lightgrey;
}

    .btnnew a {
        color: #fff;
        text-decoration: none
    }


.createCriar {
    background-color: #20343F;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white;
}

.row dt {
    margin-bottom: 8px
}

