.bg {
    background-color: #20343F
}
.imgLogo{
    width: 120px;
    height: 80px;
    object-fit: contain
}
.espaco{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.rodape {
    border-top-color: #20343F;
    background-color: ##d8d8d873
}
