* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.bg {
    background-color: #20343F
}
.imgLogo{
    width: 120px;
    height: 80px;
    object-fit: contain
}
.espaco{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.rodape {
    border-top-color: #20343F;
    background-color: #d8d8d873;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    position: relative;
    bottom: 0%
   
}
.teste {
    flex: 1;
}
.imgHome{
    width: 45%;
    height: 400px;
    object-fit: contain
}
.imgcaixa{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center
}
.caixatit{
    text-align:center;
    width:100%;
    height: 100px
}