.table {
    background-color: #20343F;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white
}

.tabelinha {
    background-color: #20343F;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white
}

    .tabelinha a {
        color: white;
        text-decoration: none
    }

.editPublic {
    background-color: #20343F;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white
}

.detaiPublic {
    background-color: #20343F;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white
}

.deletPublic {
    background-color: #20343F;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white
}