.imgUsu {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px
}

.ultima-linha {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: #20343F;
    width: 100%;
    height: 28px;
    color: #20343F
}

.table-container {
    margin: 20px auto;
    max-height: 400px;
    border: 1px solid #ccc;
    overflow-y: auto;
    position: relative;
    color: #20343F;
    background-color: darkgrey ;
    border-radius: 20px
}

    .table-container a {
        color: #20343F;
        text-decoration: none
    }

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: lightgrey;
    color: #20343F;
    position: sticky;
    top: 0;
}

th, td {
    padding: 10px;
    text-align: center;
    color: #20343F
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}

/* Scroll personalizado */
.table-container::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 6px;
}

    .table-container::-webkit-scrollbar-thumb:hover {
        background-color: lightgrey;
    }
.btnnew {
    background-color: #20343F;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    border-color: lightgrey;
}
.btnnew a {
    color: #fff;
    text-decoration: none
}
/*#20343F*/
}

.editUsu {
    background-color: #20343F;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white;
       
}

.detaiUsu {
    background-color: #20343F;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white;
   
}

.deletUsu {
    background-color: #20343F;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white;
    
}


.campoPesquisa {
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    border-color: lightgrey;
    margin-left: 20px
}

.btnPesquisa {
    background-color: #20343F;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    border-color: lightgrey;
}

.flex-pesquisa{
    display:flex;
    flex-direction:row;
    align-items: center
}
.midia {
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 100%;
    padding: 5px
}