@model ComuniQBD.Models.Campanha

@{
    ViewData["Title"] = "Create";
    <link rel="stylesheet" href="~/css/Campanha.css" asp-append-version="true" />
}

<h1>Criar</h1>

<h4>Campanha</h4>
<hr />
<div class="row">
    <div class="col-md-4 createCriar">
        @using (Html.BeginForm("Create", "Campanha", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CampanhaTitulo" class="control-label"></label>
                <input asp-for="CampanhaTitulo" class="form-control" />
                <span asp-validation-for="CampanhaTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampanhaMidia" class="control-label"></label>
                <input type="file" name="CampanhaMidia" id="CampanhaMidia" onchange="fileCheck(this);" class="midia"/>
                <span asp-validation-for="CampanhaMidia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampanhaDescricao" class="control-label"></label>
                <input asp-for="CampanhaDescricao" class="form-control" />
                <span asp-validation-for="CampanhaDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCampanhaId" class="control-label"></label>
                <select asp-for="TipoCampanhaId" class ="form-control" asp-items="ViewBag.TipoCampanhaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CidadeId" class="control-label"></label>
                <select asp-for="CidadeId" class ="form-control" asp-items="ViewBag.CidadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
