@model ComuniQBD.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
@using (Html.BeginForm("Create", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioNome" class="control-label"></label>
                <input asp-for="UsuarioNome" class="form-control" />
                <span asp-validation-for="UsuarioNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioSobrenome" class="control-label"></label>
                <input asp-for="UsuarioSobrenome" class="form-control" />
                <span asp-validation-for="UsuarioSobrenome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioApelido" class="control-label"></label>
                <input asp-for="UsuarioApelido" class="form-control" />
                <span asp-validation-for="UsuarioApelido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioEmail" class="control-label"></label>
                <input asp-for="UsuarioEmail" class="form-control" />
                <span asp-validation-for="UsuarioEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioTelefone" class="control-label"></label>
                <input asp-for="UsuarioTelefone" class="form-control" />
                <span asp-validation-for="UsuarioTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCPF" class="control-label"></label>
                <input asp-for="UsuarioCPF" class="form-control" />
                <span asp-validation-for="UsuarioCPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCEP" class="control-label"></label>
                <input asp-for="UsuarioCEP" class="form-control" />
                <span asp-validation-for="UsuarioCEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCidade" class="control-label"></label>
                <input asp-for="UsuarioCidade" class="form-control" />
                <span asp-validation-for="UsuarioCidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioBairro" class="control-label"></label>
                <input asp-for="UsuarioBairro" class="form-control" />
                <span asp-validation-for="UsuarioBairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioEstado" class="control-label"></label>
                <input asp-for="UsuarioEstado" class="form-control" />
                <span asp-validation-for="UsuarioEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioSenha" class="control-label"></label>
                <input asp-for="UsuarioSenha" class="form-control" />
                <span asp-validation-for="UsuarioSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioFoto" class="control-label"></label>
                <input type="file" name="UsuarioFoto" id="UsuarioFoto" onchange="fileCheck(this);" class="midia" />
                <span asp-validation-for="UsuarioFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPerfilId" class="control-label"></label>
                <select asp-for="TipoPerfilId" class="form-control" asp-items="ViewBag.TipoPerfilId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
