@model ComuniQBD.Models.Denuncia

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Denúncia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
               @using (Html.BeginForm("Edit", "Denucia", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DenunciaId" />
            <div class="form-group">
                <label asp-for="DenunciaTitulo" class="control-label"></label>
                <input asp-for="DenunciaTitulo" class="form-control" />
                <span asp-validation-for="DenunciaTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DenunciaMidia" class="control-label"></label>
                <input type="file" name="DenunciaMidia" id="DenunciaMidia" onchange="fileCheck(this);" />
                <span asp-validation-for="DenunciaMidia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DenunciaDescricao" class="control-label"></label>
                <input asp-for="DenunciaDescricao" class="form-control" />
                <span asp-validation-for="DenunciaDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDenunciaId" class="control-label"></label>
                <select asp-for="TipoDenunciaId" class="form-control" asp-items="ViewBag.TipoDenunciaId"></select>
                <span asp-validation-for="TipoDenunciaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BairroId" class="control-label"></label>
                <select asp-for="BairroId" class="form-control" asp-items="ViewBag.BairroId"></select>
                <span asp-validation-for="BairroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
       }
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
