@model ComuniQBD.Models.TipoPerfil

@{
    ViewData["Title"] = "Create";
    <link rel="stylesheet" href="~/css/TipoPerfil.css" asp-append-version="true" />
}

<h1>Criar</h1>

<h4>TipoPerfil</h4>
<hr />
<div class="row">
    <div class="col-md-4 createCriar">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoPerfilNome" class="control-label"></label>
                <input asp-for="TipoPerfilNome" class="form-control" />
                <span asp-validation-for="TipoPerfilNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
