@model ComuniQBD.Models.TipoPerfil

@{
    ViewData["Title"] = "Delete";
    <link rel="stylesheet" href="~/css/TipoPerfil.css" asp-append-version="true" />
}

<h1>Excluir</h1>

<h3>Deseja realmente excluir isso?</h3>
<div>
    <h4>TipoPerfil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 deletTipoPer">
            @Html.DisplayNameFor(model => model.TipoPerfilNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPerfilNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoPerfilId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
