@model ComuniQBD.Models.TipoPerfil

@{
    ViewData["Title"] = "Details";
    <link rel="stylesheet" href="~/css/TipoPerfil.css" asp-append-version="true" />
}

<h1>Detalhes</h1>

<div>
    <h4>Tipo do Perfil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 detaiTipoPer">
            @Html.DisplayNameFor(model => model.TipoPerfilNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPerfilNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipoPerfilId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
